<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      routerLink="/"
      routerLinkActive="router-link-active"
      class="btn btn-link"
    >
      На главную
    </button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur officia
      nulla labore molestiae. Dignissimos iure harum, molestias magnam libero
      est non alias facilis possimus nisi optio, similique quod repellendus
      consequuntur! Error omnis incidunt sapiente est excepturi repudiandae eos
      sunt! Unde omnis sit, aliquid blanditiis neque nulla deleniti ex eos
      magnam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur officia
      nulla labore molestiae. Dignissimos iure harum, molestias magnam libero
      est non alias facilis possimus nisi optio, similique quod repellendus
      consequuntur! Error omnis incidunt sapiente est excepturi repudiandae eos
      sunt! Unde omnis sit, aliquid blanditiis neque nulla deleniti ex eos
      magnam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur officia
      nulla labore molestiae. Dignissimos iure harum, molestias magnam libero
      est non alias facilis possimus nisi optio, similique quod repellendus
      consequuntur! Error omnis incidunt sapiente est excepturi repudiandae eos
      sunt! Unde omnis sit, aliquid blanditiis neque nulla deleniti ex eos
      magnam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur officia
      nulla labore molestiae. Dignissimos iure harum, molestias magnam libero
      est non alias facilis possimus nisi optio, similique quod repellendus
      consequuntur! Error omnis incidunt sapiente est excepturi repudiandae eos
      sunt! Unde omnis sit, aliquid blanditiis neque nulla deleniti ex eos
      magnam.
    </p>
  </div>
</div>
