<div>Hello</div>

<!-- <p>{{ title }}</p>
<p>{{ number - 2 }}</p>
<p>{{ arr }}</p>

<button (click)="onClick()">Click me</button> -->

<!-- <input
  type="text"
  (keyup)="onInput($event)"
  (blur)="onBlur(myInput.value)"
  #myInput
/>

<p>
  <strong>{{ inputValue }}</strong>
</p> -->

<!-- <input type="text" [value]="title" (input)="onInput($event)" /> -->
<!-- <input type="text" [(ngModel)]="title" />
<p>{{ title }}</p>

<button (click)="backgroundToggle = !backgroundToggle">Toggle</button> -->

<!-- <div
  [ngStyle]="{
    width: '200px',
    height: '200px',
    borderRadius: '5px',
    border: '1px solid #ccc',
    background: backgroundToggle ? 'red' : 'blue'
  }"
></div> -->

<!-- <p
  [ngClass]="{
    red: backgroundToggle,
    blue: !backgroundToggle
  }"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, repellendus?
</p> -->

<!-- <p [class.blue]="backgroundToggle" [class.red]="!backgroundToggle">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, temporibus.
</p> -->

<!-- <button (click)="toggle = !toggle">Toggle</button> -->

<!-- <p *ngIf="toggle; else blueP" class="red">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni earum placeat
  tempora soluta perspiciatis sequi velit officiis aliquam odit.
</p>
<ng-template #blueP>
  <p class="blue">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni earum
    placeat tempora soluta perspiciatis sequi velit officiis aliquam odit.
  </p>
</ng-template> -->

<!-- <div [ngSwitch]="toggle">
  <p *ngSwitchCase="true" class="red">Lorem, ipsum.</p>
  <p *ngSwitchCase="false" class="blue">Lorem, ipsum.</p>
  <p *ngSwitchDefault>Lorem</p>
</div> -->

<!-- <ul>
  <li *ngFor="let number of arr; let idx = index">
    {{ idx + 1 }}<strong>{{ number }}</strong>
  </li>
</ul> -->

<ul style="list-style: none">
  <li *ngFor="let post of objs">
    <p>
      {{ post.title }} <b>{{ post.author }}</b>
    </p>
    <ul>
      <li *ngFor="let comment of post.comments">
        <div>
          <small>{{ comment.name }}</small>
          <p>{{ comment.text }}</p>
        </div>
      </li>
    </ul>
  </li>
</ul>

<app-post></app-post>

<hr />
<app-post4></app-post4>
